.about {
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-family: 'Fraunces', serif
    
}

.about-title h2 {
    font-family: 'Fraunces', serif;
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem 0;

}

.about-title p {
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    font-size: 1.5rem;
    font-family: "poppins", sans-serif;
}

/*phone*/

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .about-title h2 {
        font-size: 2rem;
    }

    .about-title p {
        font-size: 1.2rem;
        padding: 1.5rem;
    }

}
/*tablets*/

@media (min-width: 769px) and (max-width: 1024px) {
    .about {
        gap: 2rem;
        padding: 2rem;
    }

    .about-title h2 {
        font-size: 2.2rem;
    }

    .about-title p {
        font-size: 1.3rem;
        max-width: 90%;
    }
}