.about {
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-family: 'Fraunces', serif
    flex-wrap: wrap;
}

.about-title h2 {
    font-family: 'Fraunces', serif;
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem 0;

}

.about-title p {
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    font-size: 1.5rem;
    font-family: "poppins", sans-serif;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

}

@media (max-width: 992px) {
    .about {
        flex-direction: column;
        text-align: center;
        width: 40rem; 
        gap: rem; 
    }
    
}