.contact-title {
    background-color: blue;
    font-family: 'Fraunces', serif;
    text-align: center;
    font-size:2rem;
    padding: 2rem 0;
} 


.contact-container {
    background-color: aquamarine;
    display: flex;
    font-family: "poppins",sans-serif;

}
.contact-container ul {
    background-color: brown;

}
