


.contact-title {
    background-color: floralwhite;
    font-family: 'Fraunces', serif;
    text-align: start;
    font-size:1rem;
    gap: 4rem;
} 
.contact-icons {
    background-color: floralwhite;
    display: flex;
    justify-content: end;
   font-family: "poppins",sans-serif;
   
}



.contact-container {
   background-color: floralwhite;
    display: flex;
    font-family: "poppins",sans-serif;

}
/*phone*/

@media (max-width: 480px) {

  .contact-container {
    flex-direction: column; /* 🔥 clave */
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
  }

  .contact-title {
    text-align: center;
    font-size: 1.2rem;
  }

  .contact-icons {
    justify-content: center;
    gap: 1rem;
  }
}

