.navbar {
    display: flex; /*para alinear los espacios en linea*/
    justify-content: space-around; 
    align-items: center; /*lo centramos*/
    background-color:#483D8B; /*el color*/
    padding: 1.2rem;/*espacio interno para que no se vea apretado*/
    width: 100%; /*que ocupe todo el ancho*/
    gap: 20px;/*espacio entre cada palabra del menu*/

}
.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.navbar li {
    list-style: none;
}
.navbar a {
    text-decoration: none;/*Quita el subrayado azul*/
    color:#0a0a0a ;/*color de las letras del menu*/
    font-weight: 1000; /*un poco mas de grosor*/
    font-family: cursive; 
}

span {
    color: #040404;
    font-size: 1.4rem;
    font-weight: 900;
}

