.header-titlle {
    background-color: pink;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-family: 'Fraunces', serif;
    

}

.galery-container {
    background-color: aquamarine;
    font-family: 'Fraunces', serif;
  
    
}
.text-pets {
    background-color: blue;
    display: flex;
    justify-content: center;
    font-family: 'Fraunces', serif;
}

.pet-card {
    background-color: yellow;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.pet-card:hover {
    
    background-color: blueviolet;
    border-radius: 2rem;
    box-shadow: 0 4px 10px;
    text-align: center; 
}
.pet-card img {
    width: 150px; /*ajustar el ancho */
    border-radius: 10px;

}

