
.Projects {
  
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}



.project-container{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:0.5rem; 
  padding: 2rem;

  
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
 

}
.img-container img {
  width: auto;
  height: 350px;
  object-fit:cover;
  border-radius: 2rem;
  
}






