
.about-skills {
    display: flex;
    flex-direction: column;
    font-family: 'Fraunces', serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem 0;
    gap: 2rem;
}


.skills-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
}


.skills-list i {
    font-size: 4rem;
}